.shop {
    grid-row: content-s/content-e;
    grid-column: s/e;

    display: grid;
    grid-template-rows: 30px [search-bar-s] 38px [search-bar-e product-s] 1fr [product-e];
    grid-template-columns: [s] minmax(100px, 1035px) [e];
    grid-gap: 57px;
    justify-content: center;

    &__search-bar{
        grid-row: search-bar-s/search-bar-e;
        grid-column: s/e;
    }
    &__products {
        display: grid;
        grid-row: product-s/product-e;
        grid-column: s/e;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-column-gap: 25px;
        grid-row-gap: 40px;
        // max-width: 1035px;
        width: 100%;
        justify-self: center;
        
    }
}