.quantity {

    display: grid;
    grid-template-rows: [s] 21px [m] 21px [e];
    grid-template-columns: [s] 65px [m] 29px [e];

    &__count,
    &__plus,
    &__minus {
        border: 1px solid #E6E6E6;
        color: #333;
        display: grid;
        justify-items: center;
        align-items: center;
        height: 21px;
        width: 29px;
        grid-column: m/e;
    }
    &__count {
        height: 42px;
        width: 65px;
        border: 1px solid #E6E6E6;
        border-radius: 3px 0 0 3px;
        font-size:22px; 
        grid-row: s/m;
        grid-column:s/m;      
    }    
    &__plus {
        border-radius: 0 3px 0 0;
        grid-row: s/e;
   }
    &__minus {
      
        border-radius: 0 0 3px 0;
        grid-row: m/e;
    }
}